@model HomeShare.Models.BienModel
@{
    ViewBag.Title = "FormBien";
}

<h2 class="text-blue bg-dark ml-3 rounded" style="margin-left: 450px;">Ajouter un bien</h2>


<div class="row">
    <div class="col-lg-8 offset-lg-2" style="margin-left:200px;">
        <form class="form-wrapper" method="post">

            @Html.AntiForgeryToken()
            <input type="text" name="Titre" class="form-control" placeholder="Titre">
            @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
            <input type="text" name="Ville" class="form-control" placeholder="Ville">
            @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
            <input type="text" name="DescCourte" class="form-control" placeholder="Decription Courte">
            @Html.ValidationMessageFor(model => model.DescCourte, "", new { @class = "text-danger" })
            <input type="file" name="FilePicture" placeholder=" " required />
            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })



            <button type="submit" class="btn btn-primary" style="margin-bottom:80px;">Send <i class="fa fa-envelope-open-o"></i></button>
        </form>
        @if (ViewBag.SuccessMessage != null)
        {
            @:<div class="alert alert-success">@ViewBag.SuccessMessage</div>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            @:<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
    </div>
</div>



